.header {
  background-color: var(--dark-grey-1);
  grid-column: full-start / col-end 6;
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;

  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 1.5rem;
  justify-content: center;
  /* filter: opacity(0.8) drop-shadow(0 0 0 #02060b); */
}

.brand-logo {
  display: flex;
  height: 60px;
  justify-self: center;
  align-items: center;
  justify-content: space-around;
  font-family: var(--header);
  font-size: 2rem;
  border-bottom: 1px solid var(--light-grey-2);
  color: #fff;
}

.header-logo {
  padding: 0 5px;
  height: 3rem;
  /* filter: opacity(0.8) drop-shadow(0 0 0 #c1b621); */
}

.header-btn {
  align-self: start;
  justify-self: start;
}

.header > .seenon-text {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  column-gap: 1.5rem;
  font-size: 1.8rem;
  color: var(--light-grey-2);
}

.seenon-text::before,
.seenon-text::after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
}
.header > .seenon-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  justify-items: center;
  align-items: center;
}

.seenon-logos > img {
  max-height: 2.5rem;
  max-width: 100%;
  filter: brightness(90%);
}
