@import "nav.css";
@import "header.css";
@import "features.css";
@import "footer.css";
@import "gallery.css";
@import "homes.css";
@import "realtors.css";
@import "story.css";
@import "typography.css";

/* variables */
:root {
  --main: "Cormorant", serif;
  --header: "Cinzel Decorative", cursive;

  --primary: #6c7b65;
  --primary-dark: #233a21;

  --secondary: #1a2126;

  --light-grey-1: #d3d8d3;
  --light-grey-2: rgb(214, 214, 214);

  --dark-grey-1: #373c37;
  --dark-grey-2: #6d5d4b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /*10px/16px = 62.5% -> 1rem = 10px*/
}

body {
  font-family: var(--main);
}

.container {
  display: grid;
  grid-template-rows: min-content 50vw repeat(3, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];
}

/*1200px*/
@media (max-width: 75em) {
  html {
    font-size: 50%;
  }
  .footer-item {
    font-size: 1.6rem;
  }
}

/*1000px*/
@media (max-width: 62.5em) {
  .container {
    grid-template-rows: 6rem 60vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
      [full-start] minmax(6rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] minmax(6rem, 1fr)
      [full-end];
  }
}

/*800px*/
@media (max-width: 50em) {
  .container {
    /* grid-template-rows: 6rem calc(40vh - 6rem) repeat(6, min-content); */
    grid-template-rows: 6rem 80vw repeat(3, min-content);
  }

  .header {
    grid-column: 1 / -1;
  }

  .brand-logo {
    margin: 0;
  }
  .nav-links {
    justify-content: space-between;
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 50%;
  }

  .nav-items {
    letter-spacing: 0;
  }

  .realtors {
    grid-column: 1 / -1;
  }

  .team-list {
    grid-template-columns: repeat(3, min-content max-content);
  }

  .story-pictures {
    grid-column: 1 / -1;
  }

  .story-content {
    grid-column: 1 / -1;
  }

  .img-1 {
    width: 65%;
    grid-row: 1 / 6;
    grid-column: 2 / 6;
  }
  .img-2 {
    width: 120%;
    grid-row: 3 / 6;
    grid-column: 4 / 6;
  }
  .footer-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footer-item {
    font-size: 1.2rem;
  }
}

/*600px*/
@media (max-width: 37.5em) {
  .container {
    grid-template-rows: 5rem 80rem repeat(3, min-content);
  }
  .header {
    padding: 5rem;
  }
  .team-list {
    grid-template-columns: min-content max-content;
  }
  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .icon-tabler {
    padding-right: 10px;
    display: block;
  }
  .brand-logo,
  .nav-links {
    display: none;
  }
  .footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer-item {
    font-size: 1.4rem;
  }
}
