.sidebar {
  background-color: var(--primary);
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;
}

.nav-btn {
  border: none;
  border-radius: 0;
}

.icon-tabler {
  margin-top: 8px;
  color: #fff;
  height: 80px;
  width: 4.5rem;
}
